@media screen and (max-width: 900px) {
  .about-me-section {
    flex-direction: column;
  }
  nav ul li {
  display: table-column;
  margin-top: 20px;
}
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", sans-serif;
}

header {
  background: linear-gradient(to bottom, #a105f5, #630099);
  text-align: center;
  padding-bottom: 5px;
}

h1 {
  margin: 0px;
  padding: 20px;
  font-size: 60px;
  font-family: "Allura";
}
h1 a {
  text-decoration: none;
  color: #ffffff;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin-top: 20px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
}
nav a:hover {
  background-color: #b44df8;
  transform: scale(1.1);
}
h2 {
  font-size: 28px;
  color: #333;
  text-transform: uppercase;
}

#o-mnie {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.about-me-section {
  display: flex;
  margin-top: 80px;
  align-items: center;
  flex-direction: row;
}
.about-me-image img {
  width: 100%;
}
.about-me-text {
  text-align: center;
  padding: 5%;
  width: 100%;
}

#galeria {
  padding: 40px 0;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.gallery {
  display: table;
}
.gallery-row {
  display: table-row;
}
.gallery-cell {
  display: table-cell;
  padding: 1%;
  position: relative;
}
.gallery-cell img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s;
  max-height: 60vh; /* Ustaw maksymalną wysokość obrazu na 60% wysokości strony */
}
.gallery-cell img:hover {
  transform: scale(1.1);
}

#uslugi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.uslugi {
  width: 700px;
  padding: 60px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Dodaj lekkie obramowanie */
  background-color: #f5f5f5; /* Dodaj tło */
}
.uslugi-tekst {
  flex: 1;
  padding: 20px; /* Dodaj wewnętrzny odstęp */
}
.uslugi-tekst h2 {
  font-size: 40px;
  text-align: center;
}
.uslugi-tekst ul {
  list-style: square;
  padding: 0;
}
.uslugi-tekst li {
  font-size: 16px;
  margin: 10px 0;
}
.opis {
  color: #a5a5a5;
  margin: 0px;
  font-size: 12px;
  margin-left: 10px;
}

#kontakt {
  align-items: center;
  margin: 0;
  color: white;
  flex-direction: row;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #a105f5, #630099);
}
#kontakt h2 {
  color: white;
}
#kontakt p {
  padding-left: 10%;
  padding-right: 10%;
}

address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
address a {
  text-decoration: none;
  color: white;
  margin: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
address img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

footer {
  background-color: #333;
  text-align: center;
  color: white;
}
footer p {
  margin: 0;
}
