/* Style dla nagłówka i nawigacji */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
header {
    background: linear-gradient(to bottom,#a105f5,#630099);
    text-align: center;
    padding-bottom: 5px;
}

h1 {
    margin: 0px;
    padding: 20px;
    font-size: 60px;
    font-family: 'Allura', sans-serif;
}
h1 a{
    text-decoration: none;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
}
nav a:hover{
    background-color: #b44df8;
    transform: scale(1.1);
}


h2 {
    font-size: 28px;
    color: #333;
    text-transform: uppercase ;
}


#o-mnie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 60px;
}

.about-me-section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
}

.about-me-image {
    flex: 1;
    text-align: center;
    margin-right: 50px; /* Dodaj odstęp od obrazka */
}

.about-me-image img {
    max-width: 80%;
    height: auto;
}

.about-me-text {
    flex: 1;
    text-align: center;
    padding: 20px; /* Dodaj wewnętrzny odstęp */
}

.about-me-text p {
    font-size: 18px;
    text-decoration: none;
}

iframe{
    border: 0px;
}


#galeria {
    padding: 40px 0;
    text-align: center;
}

    .gallery {
        display: table;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .gallery-row {
        display: table-row;
    }

    .gallery-cell {
        display: table-cell;
        padding: 1%;
        position: relative;
    }

    .gallery-cell img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s;
        max-height: 60vh; /* Ustaw maksymalną wysokość obrazu na 60% wysokości strony */
          
    }

    .gallery-cell img:hover {
        transform: scale(1.1);
    }



#uslugi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    }
    
    .uslugi{
        width: 700px;
        padding: 60px;
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc; /* Dodaj lekkie obramowanie */
        background-color: #f5f5f5; /* Dodaj tło */
        
    }
    .uslugi-tekst {
        flex: 1;
        padding: 20px; /* Dodaj wewnętrzny odstęp */
    }
    .uslugi-tekst h2 {
        font-size: 40px;
        text-align: center;
    }
    
    .uslugi-tekst ul {
        list-style:square ;
        padding: 0;
    }
    
    .uslugi-tekst li {
        font-size: 16px;
        margin: 10px 0;
    }


    .opis{
        color: #a5a5a5;
        margin: 0px;
        font-size: 12px;
        margin-left: 10px;
    
    }





#kontakt{
    align-items: center;
    margin: 0;
    color: white;
    flex-direction: row; 
    padding: 60px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom,#a105f5,#630099);
}
#kontakt h2{
    color: white;
}
#kontakt p{
    padding-left: 10%;
    padding-right: 10%;
}

address a{
    text-decoration:none;
    color: white;
}

address img{
    width: 24px;
    height: 24px;
    
}






footer{
    background-color: #333;
    text-align: center;
    color: white;
}
footer p{
    margin: 0;
}
